<form class="mega888-slot-form col-12 col-md-8 offset-md-2" data-aos="fade-up">
  <div class="title" data-i18n="play_now_page.918_KAYA_SLOT"></div>
  <div class="input-group" data-aos="fade-up">
    <input type="text" class="form-control"  data-i18n="play_now_page.USERNAME" data-i18n-attr="placeholder" />
    <span class="input-group-text">
      <img class="" src="assets/icons/copy-yellow.svg" alt=""/>
    </span>
  </div>
  <div class="input-group" data-aos="fade-up">
    <input type="text" class="form-control" data-i18n="play_now_page.PASSWORD" data-i18n-attr="placeholder" />
    <span class="input-group-text">
      <img class="" src="assets/icons/copy-yellow.svg" alt=""/>
    </span>
  </div>
  <div class="form-text" data-i18n="play_now_page.MEGA888_SLOT_help_text"></div>
  <div class="row mx-0">
    <button class="btn btn-warning col" data-i18n="play_now_page.Download"></button>
    <button class="btn btn-link col" data-i18n="play_now_page.Change_Password"></button>
  </div>
</form>