<a id="back_url" class="d-flex gap-4 align-items-center text-white mb-5" href="./">
  <img src="assets/icons/left-white.svg" alt="" />
  <div class="title" data-i18n="voucher_page.Redeem_Voucher"></div>
</a>

<form class="voucher-page__content__form" id="formVoucher" data-modal="invalidCodeModal" data-aos="fade-in">
  <div class="voucher-page__content__form__input">
    <label data-i18n="voucher_page.Voucher_Code" class="form-label"></label>
    <input type="text" name="voucher" class="form-control" data-i18n-attr="placeholder" data-i18n="voucher_page.Enter_your_voucher_code"  />
    <div class="form-text d-none" data-i18n="voucher_page.Please_enter_the_voucher_code"></div>
  </div>
  <button type="submit" class="btn btn-warning" data-i18n="voucher_page.Redeem"></button>
</form>

<div class="voucher-page__content__container">
  <div class="voucher-page__content__container__title" data-i18n="voucher_page.Your_Voucher"></div>
  <div class="voucher-page__content__container__item" data-aos="fade-up">
    <div  class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <div class="voucher-page__content__container__item__price">SGD<span>10.00</span></div>
        <div class="voucher-page__content__container__item__title" data-i18n="voucher_page.Weekly_Cash_Rebate"></div>
      </div>
      <div>
        <img src="assets/icons/voucher-icon.svg" />
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="voucher-page__content__container__item__description">
          <span data-i18n="voucher_page.Valid_date"></span>: 20 -30 May, 2022
        </div>
        <div class="voucher-page__content__container__item__description">
          <span data-i18n="voucher_page.Turnover"></span>: x2
        </div>
      </div>
      <div>
        <button class="btn btn-warning btn-sm" data-i18n="voucher_page.Redeem" data-bs-toggle="modal" data-bs-target="#successRedeemedModal"></button>
      </div>
    </div>
  </div>
  <div class="voucher-page__content__container__item" data-aos="fade-up">
    <div  class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <div class="voucher-page__content__container__item__price">SGD<span>10.00</span></div>
        <div class="voucher-page__content__container__item__title" data-i18n="voucher_page.Weekly_Cash_Rebate"></div>
      </div>
      <div>
        <img src="assets/icons/voucher-icon.svg" />
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="voucher-page__content__container__item__description">
          <span data-i18n="voucher_page.Valid_date"></span>: 20 -30 May, 2022
        </div>
        <div class="voucher-page__content__container__item__description">
          <span data-i18n="voucher_page.Turnover"></span>: x2
        </div>
      </div>
      <div>
        <button class="btn btn-warning btn-sm" data-i18n="voucher_page.Redeem" data-bs-toggle="modal" data-bs-target="#successRedeemedModal"></button>
      </div>
    </div>
  </div>
</div>
