.download-app-page {
  min-height: auto;

  &__content {
    padding-top: 20px;

    &__preview {
      margin-top: 40px;
      padding-bottom: 30px;

      display: flex;
      overflow: auto;
      gap: 15px;

      img {
        max-width: 220px;
      }
    }

    &__action {
      display: flex;
      gap: 15px;
      width: 100%;

      .btn {
        border-radius: 4px;
        width: 50%;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        margin-bottom: 10px;

        min-height: 45px;
        display: flex;
        place-content: center;
        place-items: center;

        &-secondary {
          background-color: rgba(255, 255, 255, 0.3);
          border: none;
        }
      }

      .coming-soon {
        position: relative;
        width: 50%;

        span {
          position: absolute;
          right: 25px;
          top: -6px;
        }
      }
    }

    &__top {
      display: flex;
      place-content: flex-start;
      place-items: center;
      gap: 15px;
      margin-bottom: 25px;

      &__img {
        width: 140px;
      }

      &__content {
        min-height: 140px;
        display: flex;
        place-content: space-between;
        place-items: flex-start;
        flex-direction: column;
        gap: 15px;
        flex: 1;

        &__title {
          font-weight: 900;
          font-size: 20px;
          line-height: 27px;
          color: #FDBB2C;
        }

        &__description {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
        }
      }
    }
  }
}