.thank-you-page {
  background-image: url(../images/thank-you-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 90px;
  min-height: auto;

  &__content {
    padding: 100px 0 50px;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    margin: auto;

    &__title {
      font-weight: 900;
      font-size: 28px;
      line-height: 38px;
      text-align: center;
      color: #FDBB2C;
    }

    &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
    }

    &__username {
      background: rgba(255, 255, 255, 0.13);
      border-radius: 4px;
      width: 100%;
      min-height: 55px;
      display: flex;
      place-content: center;
      place-items: center;

      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;

      color: #FDBB2C;
    }

    &__action {
      width: 100%;
      display: flex;
      place-content: center;
      place-items: center;
      gap: 25px;

      .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        border-radius: 4px;
        min-height: 50px;
        display: flex;
        place-content: center;
        place-items: center;
        width: 100%;

        &-warning {
          background: #FDBB2C;
          color: #000000;
        }
      }
    }

    &__help {
      padding-top: 90px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;

      a {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-decoration-line: underline;
        color: #0089FF;
      }
    }
  }
}