.cursor-pointer {
  cursor: pointer;
}

.text-muted {
  color: #ffffff73 !important;
}

.fs-12px {
  font-size: 12px;
}

.fs-16px {
  font-size: 16px;
}

.w-inherit {
  width: inherit;
}

.mw-auto {
  min-width: auto !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  // padding-right: var(--bs-gutter-x, .75rem);
  // padding-left: var(--bs-gutter-x, .75rem);
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

.form-control {
  font-size: 14px;
  line-height: 16px;
}

.btn {
  border-radius: 6px;
  min-width: 80px;

  &-primary {
    background-color: #4E7FFF;
    border-color: #4E7FFF;

    &:disabled {
      background-color: #597EF7;
      border-color: #597EF7;
    }
  }

  &-warning {
    background-color: #FDBB2C;
    border-color: #FDBB2C;

    // &:disabled {
    //   background-color: #597EF7;
    //   border-color: #597EF7;
    // }
  }

  &-outline {
    &-primary {
      color: #4E7FFF;
      border-color: #4E7FFF;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.text {
  &-primary {
    color: #597EF7;
  }

  &-title {
    background: linear-gradient(38.14deg, #C9AF92 47.15%, #E5D6C3 89.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}