.left-menu {
  .list-group {
    gap: 8px;
    border-radius: 0;
    padding-bottom: 20px;

    &.divider {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .list-group-item {
      background-color: transparent;
      display: flex;
      place-items: center;
      gap: 12px;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.45);
      text-transform: capitalize;
      padding: 15px;
      border-radius: 12px;
      border: none;

      .img {
        width: 24px;
        height: 24px;
        object-fit: contain;

        .active {
          display: none;
        }
      }

      &:hover,
      &.active {
        background-color: rgba(253, 187, 44, 0.2);
        color: #FDBB2C;

        .img {

          img {
            display: none;

            &.active {
              display: initial;
            }
          }
        }
      }
    }
  }
}