<div class="layout row">
  <div class="left col-2">
    @@include('./left-menu.html', {
      active: '@@menuActive',
      without_login: '@@if (!context.without_login) {false}@@if (!!context.without_login) {true}'
    })
  </div>
  <div class="content col-7">
    @@include('@@childContent', {
      without_login: '@@if (!context.without_login) {false}@@if (!!context.without_login) {true}'
    })
  </div>
  <div class="right col-3">
    @@if (!context.hideRightMenu) {
      @@include('./right-menu.html', {
        without_login: '@@if (!context.without_login) {false}@@if (!!context.without_login) {true}'
      })
    }
  </div>
</div>

<!-- MODAL -->
@@include('../vpn-modal.html')
<!-- MODAL -->