<div class="left-menu">
  <div class="list-group divider">
    <a
      href="./index@@if (context.without_login === 'true') {-without-login}.html"
      class="list-group-item list-group-item-action @@if (context.active === '0') {active}"
      aria-current="true"
    >
      <div class="img">
        <img src="assets/icons/footer-home.png" alt="" />
        <img class="active" src="assets/icons/footer-home-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.HOME"></div>
    </a>
    <a href="./@@if (context.without_login === 'true') {login}@@if (context.without_login == 'false') {deposit}.html" class="list-group-item list-group-item-action @@if (context.active === '1') {active}">
      <div class="img">
        <img src="assets/icons/footer-wallet.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-wallet-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.WALLET"></div>
    </a>
    <a href="./promotion@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '2') {active}">
      <div class="img">
        <img src="assets/icons/footer-promotion.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-promotion-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.PROMOTION"></div>
    </a>
    <a href="./@@if (context.without_login === 'true') {login}@@if (context.without_login == 'false') {live-chat}.html" class="list-group-item list-group-item-action @@if (context.active === '3') {active}">
      <div class="img">
        <img src="assets/icons/footer-livechat.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-livechat-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.LIVE_CHAT"></div>
    </a>
  </div>
  <div class="list-group pt-3">
    <a href="./slot@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '4') {active}">
      <img class="icon" src="assets/images/category/slot.svg" alt="" />
      <span data-i18n="menu.Slot"></span>
    </a>
    <a href="./casino@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '5') {active}">
      <img class="icon" src="assets/images/category/casino.svg" alt="" />
      <span data-i18n="menu.Casino"></span>
    </a>
    <a href="./sport@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '6') {active}">
      <img class="icon" src="assets/images/category/sport.svg" alt="" />
      <span data-i18n="Sport_E_sport"></span>
    </a>
    <a href="./arcade@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '7') {active}">
      <img class="icon" src="assets/images/category/arcade.svg" alt="" />
      <span data-i18n="menu.Arcade"></span>
    </a>
    <a href="./4d@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '8') {active}">
      <img class="icon" src="assets/images/category/4d.svg" alt="" />
      <span data-i18n="menu.4D"></span>
    </a>
    <a href="./voucher@@if (context.without_login === 'true') {-without-login}.html" class="list-group-item list-group-item-action @@if (context.active === '9') {active}">
      <img class="icon" src="assets/images/category/voucher.svg" alt="" />
      <span data-i18n="voucher_page.Redeem_Voucher"></span>
    </a>
  </div>
</div>
