<div class="left-menu">
  <div class="list-group divider">
    <a
      href="./"
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      <div class="img">
        <img src="assets/icons/footer-home.png" alt="" />
        <img class="active" src="assets/icons/footer-home-active.png" alt="" />
      </div>
      <div class="text" data-i18n="footer.HOME"></div>
    </a>
    <a href="./deposit.html" class="list-group-item list-group-item-action">
      <div class="img">
        <img src="assets/icons/footer-wallet.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-wallet-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.WALLET"></div>
    </a>
    <a href="./promotion.html" class="list-group-item list-group-item-action">
      <div class="img">
        <img src="assets/icons/footer-promotion.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-promotion-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.PROMOTION"></div>
    </a>
    <a href="./live-chat.html" class="list-group-item list-group-item-action">
      <div class="img">
        <img src="assets/icons/footer-livechat.png" alt="" />
        <img
          class="active"
          src="assets/icons/footer-livechat-active.png"
          alt=""
        />
      </div>
      <div class="text" data-i18n="footer.LIVE_CHAT"></div>
    </a>
  </div>
  <!-- <div class="list-group">
    <a href="./slot.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/slot1.png" alt="" />
      <span data-i18n="menu.Slot"></span>
    </a>
    <a href="./casino.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/casino.png" alt="" />
      <span data-i18n="menu.Casino"></span>
    </a>
    <a href="./sport.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/sport.png" alt="" />
      <span data-i18n="menu.Sport_E_sport"></span>
    </a>
    <a href="./arcade.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/arcade.png" alt="" />
      <span data-i18n="menu.Arcade"></span>
    </a>
    <a href="./4d.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/4d.png" alt="" />
      <span data-i18n="menu.4D"></span>
    </a>
    <a href="./voucher.html" class="list-group-item list-group-item-action">
      <img src="assets/images/menu/voucher.png" alt="" />
      <span data-i18n="menu.Redeem_Voucher"></span>
    </a>
  </div> -->
</div>
