<section class="home">
  <div class="home__content">
    <div
      class="home__content__exclusive_event home-section pt-0"
      data-aos="fade-up" data-aos-delay="500"
    >
      <div class="d-flex justify-content-start align-items-center gap-2 mb-3">
        <span data-i18n="home_page.Hot" class="label"></span>
        <div data-i18n="home_page.Exclusive_Event" class="title mb-0"></div>
      </div>
      <div class="home__content__exclusive_event__content">
        <div class="home__content__exclusive_event__content__header">
          <div
            class="home__content__exclusive_event__content__header__title"
            data-i18n="home_page.Millions_Subsidy"
          ></div>
          <span
            class="home__content__exclusive_event__content__header__total-prize"
          >
            <span data-i18n="home_page.Total_prize"></span>: SGD 345,000
          </span>
          <img
            class="home__content__exclusive_event__content__header__icon"
            src="assets/images/exclusive-event-icon.png"
            alt=""
          />
        </div>
        <div class="home__content__exclusive_event__content__item pt-4">
          <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/user-blue.svg" alt="" />
            <div class="">
              <div class="username">**ng89</div>
              <div class="name">Cai Shen 888</div>
            </div>
          </div>
          <div>
            <div class="price">SGD 932</div>
            <div class="date">14/5/2022</div>
          </div>
        </div>
        <div class="home__content__exclusive_event__content__item">
          <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/user-blue.svg" alt="" />
            <div class="">
              <div class="username">**ng89</div>
              <div class="name">Cai Shen 888</div>
            </div>
          </div>
          <div>
            <div class="price">SGD 932</div>
            <div class="date">14/5/2022</div>
          </div>
        </div>
        <div class="home__content__exclusive_event__content__item">
          <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/user-blue.svg" alt="" />
            <div class="">
              <div class="username">**ng89</div>
              <div class="name">Cai Shen 888</div>
            </div>
          </div>
          <div>
            <div class="price">SGD 932</div>
            <div class="date">14/5/2022</div>
          </div>
        </div>
        <div class="home__content__exclusive_event__content__item">
          <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/user-blue.svg" alt="" />
            <div class="">
              <div class="username">**ng89</div>
              <div class="name">Cai Shen 888</div>
            </div>
          </div>
          <div>
            <div class="price">SGD 932</div>
            <div class="date">14/5/2022</div>
          </div>
        </div>
        <div class="home__content__exclusive_event__content__item pb-4">
          <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/user-blue.svg" alt="" />
            <div class="">
              <div class="username">**ng89</div>
              <div class="name">Cai Shen 888</div>
            </div>
          </div>
          <div>
            <div class="price">SGD 932</div>
            <div class="date">14/5/2022</div>
          </div>
        </div>
        <div class="home__content__exclusive_event__content__action">
          <a
            href="./exclusive-event.html"
            class="btn btn-warning"
            data-i18n="home_page.Learn_More"
          ></a>
        </div>
      </div>
    </div>

    <div class="home__content__luck_surprise" data-aos="fade-up" data-aos-delay="1000">
      <div class="home__content__luck_surprise__title">
        <div
          class="home__content__luck_surprise__title__left"
          data-i18n="home_page.LUCK"
        ></div>
        <img
          class="home__content__luck_surprise__title__icon"
          src="assets/images/luck-surprise-icon.png"
          alt=""
        />
        <div
          class="home__content__luck_surprise__title__right"
          data-i18n="home_page.SURPRISE"
        ></div>
      </div>
      <div
        class="home__content__luck_surprise__subtitle"
        data-i18n="home_page.Uwin33_Mascot"
      ></div>
    </div>

    <div class="home__content__gaming_licenses home-section" data-aos="fade-up" data-aos-delay="1500">
      <div data-i18n="home_page.Gaming_Licenses" class="title"></div>
      <div class="home__content__gaming_licenses__content">
        <img
          class="home__content__gaming_licenses__content__img"
          src="assets/images/gaming-licenses/1.png"
          alt=""
        />
        <img
          class="home__content__gaming_licenses__content__img"
          src="assets/images/gaming-licenses/2.png"
          alt=""
        />
        <img
          class="home__content__gaming_licenses__content__img"
          src="assets/images/gaming-licenses/3.png"
          alt=""
        />
        <!-- <div class="home__content__gaming_licenses__content__img">
          <img src="assets/images/gaming-licenses/1.png" alt="" />
        </div>
        <div class="home__content__gaming_licenses__content__img">
          <img src="assets/images/gaming-licenses/2.png" alt="" />
        </div>
        <div class="home__content__gaming_licenses__content__img">
          <img src="assets/images/gaming-licenses/3.png" alt="" />
        </div> -->
      </div>
    </div>
  </div>
</section>
