<!-- start slider -->
@@include('./slider.html')
<!-- end slider -->

<div class="home__content__feature pt-3 pb-2" data-aos="fade-up"> 
  <div class="home__content__feature__content">
    <img class="mh-13px" src="assets/images/feature/1.png" alt="" />
    <img src="assets/images/feature/2.png" alt="" />
    <img src="assets/images/feature/3.png" alt="" />
    <img src="assets/images/feature/4.png" alt="" />
    <img src="assets/images/feature/5.png" alt="" />
  </div>
</div>

<div class="category-page__content" data-aos="fade-up">
  @@include('./tab-nav.html', {active: 0})
  @@include('./tab-content.html', {active: 0})
</div>
