<!-- <div class="home__content__category row mx-0" data-aos="fade-up">
  <a href="./slot@@if (context.without_login === 'true') {-without-login}.html" class="home__content__category__item col">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/slot-blue.png" alt="" />
      <div class="home__content__category__item__text" data-i18n="menu.Slot"></div>
    </div>
  </a>
  <a href="./casino@@if (context.without_login === 'true') {-without-login}.html" class="home__content__category__item col">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/casino-blue.png" alt="" />
      <div class="home__content__category__item__text" data-i18n="menu.Casino"></div>
    </div>
  </a>
  <a href="./sport@@if (context.without_login === 'true') {-without-login}.html" class="home__content__category__item col">
    <div class="home__content__category__item__img py-1">
      <img src="assets/images/category/sport-blue.png" alt="" />
      <div class="home__content__category__item__text text-start" data-i18n="menu.E-sport"></div>
    </div>
  </a>
  <a href="./arcade@@if (context.without_login === 'true') {-without-login}.html" class="home__content__category__item col">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/arcade-blue.png" alt="" />
      <div class="home__content__category__item__text" data-i18n="menu.Arcade"></div>
    </div>
  </a>
  <a href="./4d@@if (context.without_login === 'true') {-without-login}.html" class="home__content__category__item col">
    <div class="home__content__category__item__img">
      <img src="assets/images/category/4d-blue.png" alt="" />
      <div class="home__content__category__item__text" data-i18n="menu.4D"></div>
    </div>
  </a>
</div> -->

<div class="" data-aos="fade-up">
  <div class="home__content__event row mx-0">
    <a href="./exclusive-event.html" class="home__content__event__container col">
      <div class="home__content__event__container__item">
        <img class="home__content__event__container__item__icon" src="assets/icons/right-white.svg" alt="" />
        <div class="home__content__event__container__item__img">
          <img src="assets/images/event-icon.png" alt="" />
        </div>
        <div class="home__content__event__container__item__sub" data-i18n="Exclusive_Event"></div>
        <div class="home__content__event__container__item__title" data-i18n="Millions_Subsidy"></div>
      </div>
    </a>
    <a href="./download-app.html" class="home__content__event__container col">
      <div class="home__content__event__container__item">
        <img class="home__content__event__container__item__icon" src="assets/icons/right-white.svg" alt="" />
        <div class="home__content__event__container__item__img">
          <img src="assets/images/download-icon.png" alt="" />
        </div>
        <div class="home__content__event__container__item__sub" data-i18n="Uwin33"></div>
        <div class="home__content__event__container__item__title" data-i18n="Download_App"></div>
      </div>
    </a>
  </div>
</div>

<div class="home__content__hot_games home-section" data-aos="fade-up">
  <div class="d-flex justify-content-start align-items-center gap-2 mb-3">
    <span data-i18n="home_page.Slot" class="label"></span>
    <div class="d-flex justify-content-between align-items-baseline w-100">
      <div data-i18n="home_page.Hot_Games" class="title mb-0 ps-0"></div>
      <a href="./slot.html" class="subtitle" data-i18n="home_page.See_More"></a>
    </div>
  </div>

  <div class="home__content__hot_games__content row ps-0 pe-0 mx-0">
    <div class="col home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/1.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.5_Fortune_Dragon"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="col home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/5.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Cai_Shen_888"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="col home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/6.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Golden_Lotus"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="col home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label success" data-i18n="home_page.FREE_TRIAL"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/7.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Hot_Spin"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
    <div class="col home__content__hot_games__content__item show-action">
      <div class="home__content__hot_games__content__item__label danger" data-i18n="home_page.HOT"></div>
      <img class="home__content__hot_games__content__item__img" src="assets/images/hot-games/8.png" alt="" />
      <div class="home__content__hot_games__content__item__title" data-i18n="home_page.Great_Blue"></div>
      <div class="action">
        <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
      </div>
    </div>
  </div>
</div>

<div class="home__content__special_odds home-section" data-aos="fade-up">
  <div class="d-flex justify-content-start align-items-center gap-2 mb-3">
    <span data-i18n="home_page.Casino" class="label"></span>
    <div class="d-flex justify-content-between align-items-baseline w-100">
      <div data-i18n="home_page.Special_Odds" class="title mb-0"></div>
      <a href="./casino.html" class="subtitle" data-i18n="home_page.See_More"></a>
    </div>
  </div>

  <div class="home__content__special_odds__content row mx-0">
    <div class="col p-0">
      <div class="home__content__special_odds__content__item show-action">
        <img class="home__content__special_odds__content__item__img" src="assets/images/special-odds/1.png" alt="" />
        <div class="home__content__special_odds__content__item__title" data-i18n="home_page.Lightning_Roulette"></div>
        <div class="home__content__special_odds__content__item__label">
          <span data-i18n="home_page.Special_odds_label"></span>: x500
        </div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <div class="home__content__special_odds__content__item show-action">
        <img class="home__content__special_odds__content__item__img" src="assets/images/special-odds/2.png" alt="" />
        <div class="home__content__special_odds__content__item__title" data-i18n="home_page.Lightning_Baccarat"></div>
        <div class="home__content__special_odds__content__item__label">
          <span data-i18n="home_page.Special_odds_label"></span>: x500
        </div>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
        </div>
      </div>
    </div>
    <div class="col p-0"></div>
    <div class="col p-0"></div>
    <div class="col p-0"></div>
  </div>
</div>

<div class="home__content__commitment home-section" data-aos="fade-up">
  <div data-i18n="home_page.Uwin33_Commitment" class="title"></div>

  <div class="home__content__commitment__content">
    <div class="home__content__commitment__content__item">
      <img class="home__content__commitment__content__item__icon" src="assets/images/commitment/1.png" alt="" />
      <div class="home__content__commitment__content__item__title" data-i18n="home_page.commitment_title1"></div>
      <div class="home__content__commitment__content__item__description" data-i18n="home_page.commitment_description1"></div>
    </div>
    <div class="home__content__commitment__content__item">
      <img class="home__content__commitment__content__item__icon" src="assets/images/commitment/2.png" alt="" />
      <div class="home__content__commitment__content__item__title" data-i18n="home_page.commitment_title2"></div>
      <div class="home__content__commitment__content__item__description" data-i18n="home_page.commitment_description2"></div>
    </div>
  </div>
</div>

<div class="footer-info" data-aos="fade-up">
  <p class="title" data-i18n="home_footer_title"></p>
  <div class="collapse" id="collapseFooterInfo" data-i18n="home_footer_description"></div>
  <a class="collapsed" data-bs-toggle="collapse" href="#collapseFooterInfo" role="button" aria-expanded="false" aria-controls="collapseFooterInfo">
    <div class="show">
      <div data-i18n="see_more"></div>
      <img src="assets/icons/down-white.svg" alt="" />
    </div>
    <div class="hide">
      <div data-i18n="see_less"></div>
      <img src="assets/icons/up-white.svg" alt="" />
    </div>
  </a>
</div>