<div class="category-page__content__container">

  <div class="category-page__content__container__games_lobby home-section">
    <div class="d-flex justify-content-start align-items-center gap-2 mb-3">
      <span data-i18n="Arcade" class="label" data-aos="fade-up" data-aos-delay="0"></span>
      <div data-i18n="Games_Lobby" class="title mb-0" data-aos="fade-up" data-aos-delay="50"></div>
    </div>
  
    <div class="category-page__content__container__games_lobby__content row ps-0 pe-0 mx-0 pt-2" data-aos="fade-up" data-aos-delay="100">
      <div class="category-page__content__container__games_lobby__content__item col p-0 show-action position-relative">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon full-icon" src="assets/images/games-lobby/arcade/1.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title text" data-i18n="category_page.Fishing_God"></div>
        </a>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col p-0 show-action position-relative">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon full-icon" src="assets/images/games-lobby/arcade/2.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title text" data-i18n="category_page.Tokyo_Kombat"></div>
        </a>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="category-page__content__container__games_lobby__content__item col p-0 show-action position-relative">
        <a class="category-page__content__container__games_lobby__content__item__content" href="#">
          <img class="category-page__content__container__games_lobby__content__item__content__icon full-icon" src="assets/images/games-lobby/arcade/3.png" alt="" />
          <div class="category-page__content__container__games_lobby__content__item__content__title text" data-i18n="category_page.American_Kombat"></div>
        </a>
        <div class="action">
          <a href="#" class="btn btn-warning btn-demo" data-i18n="home_page.Demo"></a>
          <a href="#" class="btn btn-light btn-play-real" data-i18n="home_page.Demo"></a>
        </div>
      </div>
      <div class="col p-0"></div>
      <div class="col p-0"></div>
    </div>
  </div>


</div>