<a id="back_url" class="d-flex gap-4 align-items-center text-white mb-5" href="./">
  <img src="assets/icons/left-white.svg" alt="" />
  <div class="title" data-i18n="deposit_page.Details"></div>
</a>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>1</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>2</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>3</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>4</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>5</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>6</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="history-detail-page__content__container">
  <div class="card history-detail-page__content__container__item">
    <div class="card-header">
      <div class="title">
        <span>7</span>
        <div>7236750</div>
      </div>
      <div class="date">26-05-2022,14:57:08</div>
    </div>
    <div class="card-body">
      <div class="content">
        <div class="text-decoration-underline">Slots</div>
        <div>S-FD01</div>
        <div>{“ticketld”:”53546078028}</div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" data-i18n="deposit_page.Result"></th>
            <th scope="col" data-i18n="deposit_page.Stake"></th>
            <th scope="col" data-i18n="deposit_page.Win_Loss"></th>
            <th scope="col" data-i18n="deposit_page.Active_Bet"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-i18n="deposit_page.Lose"></td>
            <td>0.20</td>
            <td class="danger">-0.80</td>
            <td>0.20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>